*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(185, 229, 247);
}
#MainDiv{
    width: 100%;
    height: 70px;
    border: 1px;
    padding: 3px;
    background-color: rgb(134, 133, 131);
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
}
.box{
    width: 134px;
    height: 64px;
    border: 1px;
    margin-left: 2px;
    border-radius: 3px;
    background-color: rgb(212, 214, 212);
    text-align: center;
    font-size: larger;
    padding: 10px;
    box-sizing: border-box;
    color: blue;
    
    }
    .box:hover{
        color: rgb(32, 126, 9);
    }
    h1{
        font-family: 'Ultra', serif;
        color: rgb(139, 4, 78);
    }
    #p1{
        color: black;
        font-family: 'Gemunu Libre', sans-serif;
    }
    #p2{
        color: black;
        font-family: 'Roboto Condensed', sans-serif;
    }
    #p3{
        color: black;
        font-family: 'Peralta', cursive;

    }
    #p4{
        color: black;
        font-family: 'Advent Pro', sans-serif;
    }
    #p5{
        color: black;
        font-family: 'Cinzel Decorative', cursive;
    }
    #p6{
        color: black;
        font-family: 'Cedarville Cursive', cursive;
    }
    #p7{
        color: black;
        font-family: 'Water Brush', cursive;
    }
    #p8{
        color: black;
        font-family: 'Mansalva', cursive;
    }
    #p9{
        color: black;
        font-family: 'Modak', cursive;
    }
    #p1{
        color: black;
        font-family: 'Fontdiner Swanky', cursive;
    }